<!DOCTYPE html>
<html>
  <head>
    <title>The sumarized Book Online Program</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex bg-gray-800 text-white py-1 px-5">
      <%= image_tag 'logo.svg', alt: 'the sumarized store' %>
      <h1 class="mx-8 my-auto"><%= @page_title.presence || 'Welcome to the Store' %></h1>
    </header>
    <section class="flex">
      <nav class="bg-gray-400 p-6">
        <ul class="text-gray-800 leading-8">
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
    <span class="bg-gray-400"><i><%= Date.today.strftime('%b %y')%></i></span>
  </body>
</html>
